.navbar {
  height: 64px;
  background-color: #00dd99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  width: 40px;
  height: 40px;
}

.logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.menu {
  display: flex;
  align-items: center;
}

.menu li {
  width: 50px;
  height: 32px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2px solid transparent;
}

.menu li:hover {
  border: 2px solid white;
}
