@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  user-select: none;
  box-sizing: border-box;
  border: 0;
  outline: none;
}
#root {
  height: 100%;
}
#modal > .container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal > .container > .close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

#modal > .container > .close:hover {
  color: rosybrown;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
